/**
 * Gets a query string
 * 
 * @param {string} size
 * @param {string} dimension
 * @param {string} direction
 * 
 * @return {string} Query string
 */
/**
 * Implements a generic media query
 * 
 * @param {string} size
 * @param {string} dimension
 * @param {string} direction
 */
/**
 * Implements a screen media query
 * 
 * @param {string} size
 * @param {string} dimension
 * @param {string} direction
 */
/**
 * Implements a print media query
 * 
 * @param {string} size
 * @param {string} dimension
 * @param {string} direction
 */
/**
 * Implements a speech media query
 * 
 * @param {string} size
 * @param {string} dimension
 * @param {string} direction
 */
/**
 * Implements a preview media query
 */
.ui-container {
  width: calc(100% - 4rem);
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 320px) {
  .ui-container {
    width: 100%;
    max-width: 100%;
  }
}

.ui-feature.cover-link {
  position: relative;
}
.ui-feature.cover-link .ui-feature__link {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 0;
}
.ui-feature.cover-link .ui-feature__link a {
  display: block;
  width: 100%;
  height: 100%;
}

.ui-feature-chain {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.ui-feature-chain__items {
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}
.ui-feature-chain__link {
  position: relative;
}
.ui-feature-chain__link a {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  border: 2px solid lightgrey;
  background-color: lightgrey;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .ui-feature-chain__link a {
    position: static;
  }
  .ui-feature-chain__link a::before, .ui-feature-chain__link a::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: calc(3rem - 1px);
    background-color: lightgrey;
  }
  .ui-feature-chain__link a::before {
    top: 0;
    width: 2px;
    height: 5rem;
  }
  .ui-feature-chain__link a::after {
    top: 5rem;
    height: 2px;
    width: calc(50% - 8rem + 2px);
  }
}
.ui-feature-chain__item {
  position: relative;
  padding-bottom: 4rem;
  width: calc(50% + 8rem);
}
.ui-feature-chain__item::before {
  content: "";
  display: block;
  width: 2px;
  height: calc(100% - 10rem);
  background-color: lightgrey;
  position: absolute;
  top: 10rem;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .ui-feature-chain__item::before {
    top: 6rem;
    height: calc(100% - 6rem);
  }
}
.ui-feature-chain__item .ui-feature {
  display: flex;
  margin: 0;
  flex-direction: row-reverse;
  max-width: 100%;
  width: 100%;
  margin: 0;
  align-items: flex-start;
  justify-content: flex-end;
}
.ui-feature-chain__item .ui-feature__image {
  box-sizing: border-box;
  margin: 0 3rem;
  float: left;
  width: 10rem;
  flex-basis: 10rem;
  flex-shrink: 0;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid lightgrey;
}
@media screen and (max-width: 992px) {
  .ui-feature-chain__item .ui-feature__image {
    margin-left: 0;
    width: 6rem;
    height: 6rem;
    flex-basis: 6rem;
  }
}
.ui-feature-chain__item .ui-feature__image img {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: none;
  width: 100%;
  height: 100%;
}
.ui-feature-chain__item .ui-feature__details > *:first-child {
  margin-top: 0;
}
@media screen and (min-width: 993px) {
  .ui-feature-chain__item:nth-child(even) {
    margin-left: auto;
    text-align: left;
  }
  .ui-feature-chain__item:nth-child(even)::before {
    left: calc(8rem - 1px);
  }
  .ui-feature-chain__item:nth-child(even) .ui-feature {
    flex-direction: row-reverse;
  }
  .ui-feature-chain__item:nth-child(odd) {
    margin-right: auto;
    text-align: right;
  }
  .ui-feature-chain__item:nth-child(odd)::before {
    right: calc(8rem - 1px);
  }
  .ui-feature-chain__item:nth-child(odd) .ui-feature {
    flex-direction: row;
  }
}
@media screen and (max-width: 992px) {
  .ui-feature-chain__item {
    width: 100%;
  }
  .ui-feature-chain__item::before {
    left: calc(3rem - 1px);
  }
}
@media screen and (max-width: 320px) {
  .ui-feature-chain {
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }
  .ui-feature-chain__container {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .ui-feature-chain__heading, .ui-feature-chain__subheading, .ui-feature-chain__body {
    color: transparent;
    background-color: black;
    display: table;
  }
  .ui-feature-chain__body {
    margin-bottom: 1rem;
  }
  .ui-feature-chain__items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .ui-feature-chain__item {
    display: none;
    flex-grow: 1;
  }
  .ui-feature-chain__item:nth-child(1), .ui-feature-chain__item:nth-child(2), .ui-feature-chain__item:nth-child(3) {
    display: block;
  }
  .ui-feature-chain__item::before {
    background-color: black;
    top: 2rem;
    height: calc(100% - 2rem);
    left: calc(1rem - 1px);
  }
  .ui-feature-chain__item .ui-feature {
    height: auto;
  }
  .ui-feature-chain__item .ui-feature__image {
    border: 0;
    background-color: black;
    width: 2rem;
    height: 2rem;
    flex-basis: 2rem;
  }
  .ui-feature-chain__item .ui-feature__image * {
    display: none;
  }
  .ui-feature-chain__item .ui-feature__details {
    display: none;
  }
  .ui-feature-chain__link {
    display: none;
  }
}

.ui-feature-grid {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.ui-feature-grid__body {
  margin-bottom: 2rem;
}
.ui-feature-grid__items {
  padding: 1rem 0;
  width: 100%;
  max-width: calc(100vw - 2rem);
  margin: 1rem auto 0 auto;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.ui-feature-grid__item {
  box-sizing: border-box;
  position: relative;
}
.ui-feature-grid__item .ui-feature {
  border: 1px solid lightgrey;
  margin: 0;
  position: relative;
}
.ui-feature-grid__item .ui-feature::before {
  display: block;
  content: "";
  height: 0;
  padding-bottom: 100%;
}
.ui-feature-grid__item .ui-feature__details {
  box-sizing: border-box;
  padding: 1rem;
  background-color: white;
  border-top: 1px solid lightgrey;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.ui-feature-grid__item .ui-feature__link {
  text-align: right;
}
.ui-feature-grid__item .ui-feature__heading {
  margin-top: 0;
}
.ui-feature-grid__item .ui-feature__image {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
.ui-feature-grid__item .ui-feature__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  vertical-align: top;
}
@media (min-width: 1921px) {
  .ui-feature-grid__items {
    grid-template-columns: repeat(5, auto);
  }
  .ui-feature-grid.columns-xl-1 .ui-feature-grid__items {
    grid-template-columns: repeat(1, auto);
  }
  .ui-feature-grid.columns-xl-2 .ui-feature-grid__items {
    grid-template-columns: repeat(2, auto);
  }
  .ui-feature-grid.columns-xl-3 .ui-feature-grid__items {
    grid-template-columns: repeat(3, auto);
  }
  .ui-feature-grid.columns-xl-4 .ui-feature-grid__items {
    grid-template-columns: repeat(4, auto);
  }
  .ui-feature-grid.columns-xl-5 .ui-feature-grid__items {
    grid-template-columns: repeat(5, auto);
  }
  .ui-feature-grid.columns-xl-6 .ui-feature-grid__items {
    grid-template-columns: repeat(6, auto);
  }
  .ui-feature-grid.columns-xl-7 .ui-feature-grid__items {
    grid-template-columns: repeat(7, auto);
  }
  .ui-feature-grid.columns-xl-8 .ui-feature-grid__items {
    grid-template-columns: repeat(8, auto);
  }
  .ui-feature-grid.columns-xl-9 .ui-feature-grid__items {
    grid-template-columns: repeat(9, auto);
  }
  .ui-feature-grid.columns-xl-10 .ui-feature-grid__items {
    grid-template-columns: repeat(10, auto);
  }
}
@media (max-width: 1920px) {
  .ui-feature-grid__items {
    grid-template-columns: repeat(4, auto);
  }
  .ui-feature-grid.columns-lg-1 .ui-feature-grid__items {
    grid-template-columns: repeat(1, auto);
  }
  .ui-feature-grid.columns-lg-2 .ui-feature-grid__items {
    grid-template-columns: repeat(2, auto);
  }
  .ui-feature-grid.columns-lg-3 .ui-feature-grid__items {
    grid-template-columns: repeat(3, auto);
  }
  .ui-feature-grid.columns-lg-4 .ui-feature-grid__items {
    grid-template-columns: repeat(4, auto);
  }
  .ui-feature-grid.columns-lg-5 .ui-feature-grid__items {
    grid-template-columns: repeat(5, auto);
  }
  .ui-feature-grid.columns-lg-6 .ui-feature-grid__items {
    grid-template-columns: repeat(6, auto);
  }
  .ui-feature-grid.columns-lg-7 .ui-feature-grid__items {
    grid-template-columns: repeat(7, auto);
  }
  .ui-feature-grid.columns-lg-8 .ui-feature-grid__items {
    grid-template-columns: repeat(8, auto);
  }
  .ui-feature-grid.columns-lg-9 .ui-feature-grid__items {
    grid-template-columns: repeat(9, auto);
  }
  .ui-feature-grid.columns-lg-10 .ui-feature-grid__items {
    grid-template-columns: repeat(10, auto);
  }
}
@media (max-width: 1280px) {
  .ui-feature-grid__items {
    grid-template-columns: repeat(3, auto);
  }
  .ui-feature-grid.columns-md-1 .ui-feature-grid__items {
    grid-template-columns: repeat(1, auto);
  }
  .ui-feature-grid.columns-md-2 .ui-feature-grid__items {
    grid-template-columns: repeat(2, auto);
  }
  .ui-feature-grid.columns-md-3 .ui-feature-grid__items {
    grid-template-columns: repeat(3, auto);
  }
  .ui-feature-grid.columns-md-4 .ui-feature-grid__items {
    grid-template-columns: repeat(4, auto);
  }
  .ui-feature-grid.columns-md-5 .ui-feature-grid__items {
    grid-template-columns: repeat(5, auto);
  }
  .ui-feature-grid.columns-md-6 .ui-feature-grid__items {
    grid-template-columns: repeat(6, auto);
  }
  .ui-feature-grid.columns-md-7 .ui-feature-grid__items {
    grid-template-columns: repeat(7, auto);
  }
  .ui-feature-grid.columns-md-8 .ui-feature-grid__items {
    grid-template-columns: repeat(8, auto);
  }
  .ui-feature-grid.columns-md-9 .ui-feature-grid__items {
    grid-template-columns: repeat(9, auto);
  }
  .ui-feature-grid.columns-md-10 .ui-feature-grid__items {
    grid-template-columns: repeat(10, auto);
  }
}
@media (max-width: 992px) {
  .ui-feature-grid__items {
    grid-template-columns: repeat(2, auto);
  }
  .ui-feature-grid.columns-sm-1 .ui-feature-grid__items {
    grid-template-columns: repeat(1, auto);
  }
  .ui-feature-grid.columns-sm-2 .ui-feature-grid__items {
    grid-template-columns: repeat(2, auto);
  }
  .ui-feature-grid.columns-sm-3 .ui-feature-grid__items {
    grid-template-columns: repeat(3, auto);
  }
  .ui-feature-grid.columns-sm-4 .ui-feature-grid__items {
    grid-template-columns: repeat(4, auto);
  }
  .ui-feature-grid.columns-sm-5 .ui-feature-grid__items {
    grid-template-columns: repeat(5, auto);
  }
  .ui-feature-grid.columns-sm-6 .ui-feature-grid__items {
    grid-template-columns: repeat(6, auto);
  }
  .ui-feature-grid.columns-sm-7 .ui-feature-grid__items {
    grid-template-columns: repeat(7, auto);
  }
  .ui-feature-grid.columns-sm-8 .ui-feature-grid__items {
    grid-template-columns: repeat(8, auto);
  }
  .ui-feature-grid.columns-sm-9 .ui-feature-grid__items {
    grid-template-columns: repeat(9, auto);
  }
  .ui-feature-grid.columns-sm-10 .ui-feature-grid__items {
    grid-template-columns: repeat(10, auto);
  }
}
@media (max-width: 768px) {
  .ui-feature-grid__items {
    grid-template-columns: repeat(1, auto);
  }
  .ui-feature-grid.columns-xs-1 .ui-feature-grid__items {
    grid-template-columns: repeat(1, auto);
  }
  .ui-feature-grid.columns-xs-2 .ui-feature-grid__items {
    grid-template-columns: repeat(2, auto);
  }
  .ui-feature-grid.columns-xs-3 .ui-feature-grid__items {
    grid-template-columns: repeat(3, auto);
  }
  .ui-feature-grid.columns-xs-4 .ui-feature-grid__items {
    grid-template-columns: repeat(4, auto);
  }
  .ui-feature-grid.columns-xs-5 .ui-feature-grid__items {
    grid-template-columns: repeat(5, auto);
  }
  .ui-feature-grid.columns-xs-6 .ui-feature-grid__items {
    grid-template-columns: repeat(6, auto);
  }
  .ui-feature-grid.columns-xs-7 .ui-feature-grid__items {
    grid-template-columns: repeat(7, auto);
  }
  .ui-feature-grid.columns-xs-8 .ui-feature-grid__items {
    grid-template-columns: repeat(8, auto);
  }
  .ui-feature-grid.columns-xs-9 .ui-feature-grid__items {
    grid-template-columns: repeat(9, auto);
  }
  .ui-feature-grid.columns-xs-10 .ui-feature-grid__items {
    grid-template-columns: repeat(10, auto);
  }
}
@media screen and (max-width: 320px) {
  .ui-feature-grid {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .ui-feature-grid__heading, .ui-feature-grid__subheading, .ui-feature-grid__body {
    color: transparent;
    background-color: black;
    display: table;
  }
  .ui-feature-grid__body p {
    margin: 0;
  }
  .ui-feature-grid__items {
    display: flex !important;
    flex-grow: 1;
    max-width: 100%;
    padding: 0;
  }
  .ui-feature-grid__item {
    display: none;
    background-color: black;
    margin: 0rem;
    flex-grow: 1;
  }
  .ui-feature-grid__item * {
    display: none;
  }
  .ui-feature-grid__item:nth-child(1), .ui-feature-grid__item:nth-child(2), .ui-feature-grid__item:nth-child(3) {
    display: block;
  }
}

.ui-feature-wall {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.ui-feature-wall__body {
  margin-bottom: 2rem;
}
.ui-feature-wall__items {
  column-gap: 1rem;
  padding: 1rem 0;
  width: 100%;
  max-width: calc(100vw - 2rem);
  margin: 1rem auto 0 auto;
}
.ui-feature-wall__item {
  margin-bottom: 1rem;
  break-inside: avoid;
  box-sizing: border-box;
  position: relative;
}
.ui-feature-wall__item .ui-feature {
  border: 1px solid lightgrey;
  margin: 0;
}
.ui-feature-wall__item .ui-feature__container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  max-width: 100%;
  width: 100%;
}
.ui-feature-wall__item .ui-feature__details {
  box-sizing: border-box;
  padding: 1rem;
  background-color: white;
  border-top: 1px solid lightgrey;
  margin: 0;
}
.ui-feature-wall__item .ui-feature__link {
  text-align: right;
}
.ui-feature-wall__item .ui-feature__heading {
  margin-top: 0;
}
.ui-feature-wall__item .ui-feature__image {
  margin: 0;
}
.ui-feature-wall__item .ui-feature__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  vertical-align: top;
}
@media (min-width: 1921px) {
  .ui-feature-wall__items {
    column-count: 5;
  }
  .ui-feature-wall.columns-xl-1 .ui-feature-wall__items {
    column-count: 1;
  }
  .ui-feature-wall.columns-xl-2 .ui-feature-wall__items {
    column-count: 2;
  }
  .ui-feature-wall.columns-xl-3 .ui-feature-wall__items {
    column-count: 3;
  }
  .ui-feature-wall.columns-xl-4 .ui-feature-wall__items {
    column-count: 4;
  }
  .ui-feature-wall.columns-xl-5 .ui-feature-wall__items {
    column-count: 5;
  }
  .ui-feature-wall.columns-xl-6 .ui-feature-wall__items {
    column-count: 6;
  }
  .ui-feature-wall.columns-xl-7 .ui-feature-wall__items {
    column-count: 7;
  }
  .ui-feature-wall.columns-xl-8 .ui-feature-wall__items {
    column-count: 8;
  }
  .ui-feature-wall.columns-xl-9 .ui-feature-wall__items {
    column-count: 9;
  }
  .ui-feature-wall.columns-xl-10 .ui-feature-wall__items {
    column-count: 10;
  }
}
@media (max-width: 1920px) {
  .ui-feature-wall__items {
    column-count: 4;
  }
  .ui-feature-wall.columns-lg-1 .ui-feature-wall__items {
    column-count: 1;
  }
  .ui-feature-wall.columns-lg-2 .ui-feature-wall__items {
    column-count: 2;
  }
  .ui-feature-wall.columns-lg-3 .ui-feature-wall__items {
    column-count: 3;
  }
  .ui-feature-wall.columns-lg-4 .ui-feature-wall__items {
    column-count: 4;
  }
  .ui-feature-wall.columns-lg-5 .ui-feature-wall__items {
    column-count: 5;
  }
  .ui-feature-wall.columns-lg-6 .ui-feature-wall__items {
    column-count: 6;
  }
  .ui-feature-wall.columns-lg-7 .ui-feature-wall__items {
    column-count: 7;
  }
  .ui-feature-wall.columns-lg-8 .ui-feature-wall__items {
    column-count: 8;
  }
  .ui-feature-wall.columns-lg-9 .ui-feature-wall__items {
    column-count: 9;
  }
  .ui-feature-wall.columns-lg-10 .ui-feature-wall__items {
    column-count: 10;
  }
}
@media (max-width: 1280px) {
  .ui-feature-wall__items {
    column-count: 3;
  }
  .ui-feature-wall.columns-md-1 .ui-feature-wall__items {
    column-count: 1;
  }
  .ui-feature-wall.columns-md-2 .ui-feature-wall__items {
    column-count: 2;
  }
  .ui-feature-wall.columns-md-3 .ui-feature-wall__items {
    column-count: 3;
  }
  .ui-feature-wall.columns-md-4 .ui-feature-wall__items {
    column-count: 4;
  }
  .ui-feature-wall.columns-md-5 .ui-feature-wall__items {
    column-count: 5;
  }
  .ui-feature-wall.columns-md-6 .ui-feature-wall__items {
    column-count: 6;
  }
  .ui-feature-wall.columns-md-7 .ui-feature-wall__items {
    column-count: 7;
  }
  .ui-feature-wall.columns-md-8 .ui-feature-wall__items {
    column-count: 8;
  }
  .ui-feature-wall.columns-md-9 .ui-feature-wall__items {
    column-count: 9;
  }
  .ui-feature-wall.columns-md-10 .ui-feature-wall__items {
    column-count: 10;
  }
}
@media (max-width: 992px) {
  .ui-feature-wall__items {
    column-count: 2;
  }
  .ui-feature-wall.columns-sm-1 .ui-feature-wall__items {
    column-count: 1;
  }
  .ui-feature-wall.columns-sm-2 .ui-feature-wall__items {
    column-count: 2;
  }
  .ui-feature-wall.columns-sm-3 .ui-feature-wall__items {
    column-count: 3;
  }
  .ui-feature-wall.columns-sm-4 .ui-feature-wall__items {
    column-count: 4;
  }
  .ui-feature-wall.columns-sm-5 .ui-feature-wall__items {
    column-count: 5;
  }
  .ui-feature-wall.columns-sm-6 .ui-feature-wall__items {
    column-count: 6;
  }
  .ui-feature-wall.columns-sm-7 .ui-feature-wall__items {
    column-count: 7;
  }
  .ui-feature-wall.columns-sm-8 .ui-feature-wall__items {
    column-count: 8;
  }
  .ui-feature-wall.columns-sm-9 .ui-feature-wall__items {
    column-count: 9;
  }
  .ui-feature-wall.columns-sm-10 .ui-feature-wall__items {
    column-count: 10;
  }
}
@media (max-width: 768px) {
  .ui-feature-wall__items {
    column-count: 1;
  }
  .ui-feature-wall.columns-xs-1 .ui-feature-wall__items {
    column-count: 1;
  }
  .ui-feature-wall.columns-xs-2 .ui-feature-wall__items {
    column-count: 2;
  }
  .ui-feature-wall.columns-xs-3 .ui-feature-wall__items {
    column-count: 3;
  }
  .ui-feature-wall.columns-xs-4 .ui-feature-wall__items {
    column-count: 4;
  }
  .ui-feature-wall.columns-xs-5 .ui-feature-wall__items {
    column-count: 5;
  }
  .ui-feature-wall.columns-xs-6 .ui-feature-wall__items {
    column-count: 6;
  }
  .ui-feature-wall.columns-xs-7 .ui-feature-wall__items {
    column-count: 7;
  }
  .ui-feature-wall.columns-xs-8 .ui-feature-wall__items {
    column-count: 8;
  }
  .ui-feature-wall.columns-xs-9 .ui-feature-wall__items {
    column-count: 9;
  }
  .ui-feature-wall.columns-xs-10 .ui-feature-wall__items {
    column-count: 10;
  }
}
@media screen and (max-width: 320px) {
  .ui-feature-wall {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .ui-feature-wall__heading, .ui-feature-wall__subheading, .ui-feature-wall__body {
    color: transparent;
    background-color: black;
    display: table;
  }
  .ui-feature-wall__body p {
    margin: 0;
  }
  .ui-feature-wall__items {
    display: flex !important;
    flex-grow: 1;
    max-width: 100%;
    padding: 0;
  }
  .ui-feature-wall__item {
    display: none;
    background-color: black;
    margin: 0rem;
    flex-grow: 1;
  }
  .ui-feature-wall__item * {
    display: none;
  }
  .ui-feature-wall__item:nth-child(1), .ui-feature-wall__item:nth-child(2), .ui-feature-wall__item:nth-child(3) {
    display: block;
  }
}

.ui-hero {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}
.ui-hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ui-hero__image img {
  object-position: 50% 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.ui-hero__heading, .ui-hero__subheading, .ui-hero__body, .ui-hero__link {
  position: relative;
}
.ui-hero__link {
  margin-top: 1rem;
}
.ui-hero__subheading {
  max-width: 75%;
}
.ui-hero__details {
  margin-top: 4rem;
  background-color: white;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  max-width: 50%;
}
@media screen and (max-width: 320px) {
  .ui-hero {
    height: 100vh;
    margin: 0;
  }
  .ui-hero__heading, .ui-hero__subheading, .ui-hero__body {
    color: transparent;
    background-color: black;
    display: table;
  }
  .ui-hero__image {
    display: none;
  }
  .ui-hero__link {
    color: transparent;
    background-color: black;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .ui-hero__link * {
    color: transparent;
  }
}

.ui-highlight {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.ui-highlight__container {
  display: flex;
  align-items: center;
}
.ui-highlight__image {
  flex-basis: calc(50% - 1rem);
  margin-left: 1rem;
}
.ui-highlight__image img {
  object-position: 50% 50%;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.ui-highlight__details {
  flex-basis: calc(50% - 1rem);
  margin-right: 1rem;
}
.ui-highlight__link {
  margin-top: 2rem;
}
.ui-highlight.no-image .ui-highlight__container {
  display: block;
}
@media screen and (min-width: 993px) {
  .ui-highlight.no-image .ui-highlight__body {
    column-count: 2;
    column-gap: 2rem;
    break-inside: avoid;
  }
  .ui-highlight.no-image .ui-highlight__body p {
    display: inline-block;
    margin-top: 0;
  }
}
@media screen and (max-width: 320px) {
  .ui-highlight {
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .ui-highlight__heading, .ui-highlight__subheading, .ui-highlight__body {
    color: transparent;
    background-color: black;
    display: table;
  }
  .ui-highlight__image {
    background-color: black;
  }
  .ui-highlight__image * {
    visibility: hidden;
  }
  .ui-highlight__link {
    color: transparent;
    background-color: black;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .ui-highlight__link * {
    color: transparent;
  }
}

.ui-image {
  max-width: 100%;
}

/*# sourceMappingURL=uischema.org.css.map */
