[submodule "_src/lib/uischema.org"]
	path = _src/lib/uischema.org
	url = https://github.com/uischema/node.git
[submodule "_src/scss/uischema.org"]
	path = _src/scss/uischema.org
	url = git@github.com:uischema/css.git
