<!DOCTYPE html>

<title>uischema.org</title>

<meta name="description" content="A portable standard for frontend web modules">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="/css/style.css">

{{> nav }}

<header class="ui-container">
    <h1>uischema.org</h1>
    <p>A portable standard for frontend web modules</p>
</header>
    
<main class="ui-container">
    <p>Please use the menu to navigate to a schema definition</p>
</main>
