<!DOCTYPE html>
<html>
    <head>
        <title>uischema.org</title>

        <meta charset="utf-8">
        <meta name="description" content="A portable standard for frontend web modules">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body class="site-page">
        <header class="site-header">
            <div class="ui-container site-header__container">
                <h1 class="site-header__title">uischema.org</h1>
                <p class="site-header__description">A portable standard for frontend web modules</p>
            </div>
        </header>
            
        <main class="site-main">
            {{> nav }}

            <div class="site-content">
                <p>Check out the <label class="site-link" for="site-nav__toggle">schemas</label>!</p>
            </div>
        </main>

        {{> footer }}
    </body>
</html>
