<nav class="site-nav">
    <label class="site-nav__toggle" for="site-nav__toggle">☰</label>
    <input class="site-nav__toggle__checkbox" id="site-nav__toggle" type="checkbox">

    <ul class="site-nav__items">
        {{# schemas }}
            <li>
                <a href="/{{ @type }}">{{ @i18n.en.@name }}</a>
                <p>{{ @i18n.en.@description }}</p>
            </li>
        {{/ schemas }}
    </ul>
</nav>
